Source: pdfformburner
Section: text
Priority: optional
Maintainer: David García Garzón <david.garcia@upf.edu>
Build-Depends: debhelper (>= 9.0.0), scons, libyaml-cpp-dev (>=0.6.0), libpoppler-dev (>=0.80)
Standards-Version: 4.4.0
Homepage: https://github.com/vokimon/pdf-form-burner

Package: pdfformburner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Extract and fill PDF forms data by means of YAML files
 This command line tool can be used two fold:
 - to extract form data in a PDF as a YAML file, and
 - to fill a PDF form with data in a YAML file.
 .
 YAML format is more convenient for that task than other formats
 such as FDF and XML, because
 YAML can be easily understood and edited by humans and still,
 it is machine readable and
 a single unicode encoding, utf-8, to care about.

